/* 图标依赖 @fortawesome/fontawesome-free */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
#app {
  height: 100vh;
}

/* 
  所有元素都使用 border-box 模型：
  元素的 padding 和 border 会被包含在设置的 width/height 中，
  避免因 box-sizing 不一致导致的布局错乱。
*/
* {
  box-sizing: border-box;
  margin: 0; /* 移除浏览器默认外边距 */
  padding: 0; /* 移除浏览器默认内边距 */
}

/* 
	页面主体：
	- 使用干净的 sans-serif 字体；
	- 设置背景色为浅灰色；
	- 设置文字颜色为深灰色，更柔和；
  */
body {
  font-family: Sansation, sans-serif;
  background-color: #ffffff;
  color: #737373;
}

/* 
	所有链接：
	- 不继承浏览器默认的蓝色链接颜色；
	- 移除下划线；
  */
a {
  color: inherit;
  text-decoration: none;
}

// 浏览器记住input内容 填入时样式冲突
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  // 防止被浏览器自作主张改背景色、文字色等
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  caret-color: inherit;
}
