.home-page {
  flex: 1;
  padding: 0;
  color: azure;
  background-color: #c2c2c2;

  // header
  .home-header {
    padding: 10px 0;
    display: flex; // 横向排列
    justify-content: space-between; // 两端对齐
    align-items: center;
    background-color: #636363;

    .title {
      padding-left: 10%;
      font-size: 22px;
    }

    .nav {
      display: flex;
      gap: 15%;
      padding-right: 20%;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // intro
  .home-intro {
    font-size: 40px;
    text-align: center;
    padding: 100px 0;

    p {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  // gallery
  .project-gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
