.home-page {
  height: 100vh;
  padding: 0;
  color: azure;
  background-color: #c2c2c2;

  // header
  .home-header {
    padding: 1rem 0;
    display: flex; // 横向排列
    justify-content: space-between; // 两端对齐
    align-items: center;
    background-color: #636363;

    .title {
      padding-left: 16rem;
      font-size: 1.8rem;
    }

    .nav {
      display: flex;
      gap: 1rem;
      padding-right: 20rem;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // intro
  .home-intro {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  // gallery
  .project-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}
