.project-card {
  position: relative; // 为绝对定位内容做参照
  aspect-ratio: 4 / 3;
  overflow: hidden; // 内容不能溢出

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eee;
  transition: background-color 0.3s ease;
  background: #fff;
  cursor: pointer;

  .day-tag {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 28px;
    font-family: monospace;
    letter-spacing: 0.5px;
    color: #656060;
    background-color: rgba(224, 224, 224, 0.8);
    border-radius: 4px;
    padding: 2px 6px;
    pointer-events: none; // 避免 hover 被它拦截
    z-index: 2;
  }

  .thumbnail {
    flex: 1;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 1rem;
    z-index: 1;
  }

  .content {
    position: absolute;
    inset: 0; // 等价于 top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
    z-index: 3;

    h4.title {
      margin: 0 0 12px 0;
      font-size: 20px;
      text-align: center;
    }

    .btn {
      padding: 4px 6px;
      background-color: #c8c8c8;
      color: #000;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        background-color: #c8c8c8;
        transition: background-color 0.4s ease, transform 0.3s ease;
        transform: scale(0.98);
      }
    }
  }

  &:hover .content {
    opacity: 1; // Hover 时显示内容
    transform: scale(1);
  }
}
