@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");
$fill-color: #6ab3f8;

.container {
  flex: 1;
  min-height: 100vh;
  background-color: #3494e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
  font-family: "Bitcount Prop Single", sans-serif;
}

.big-bottle {
  margin-top: 20px;
  // height: 340px;
  width: 160px;
  background-color: aliceblue;
  border: 3px solid #144fc6;
  border-radius: 0 0 50px 50px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow: hidden;
  transition: 0.3s ease;
  position: relative;
}

.remained {
  position: absolute;
  width: 100%;
  margin: auto auto;
  color: #144fc6;
  // flex: 1;
  display: flex;
  align-items: center;
  transition: 0.3s ease;

  p {
    width: 50%;
    margin: 0 auto;
  }
}

.percent {
  width: 100%;
  color: #144fc6;
  background-color: $fill-color;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  position: absolute; // 结合bottom 解决100%时 背景色渲染由上到下的问题 （期望是和其他情况保持一致 由下到上）
  bottom: 0;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

.small-bottle-container {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.small-bottle {
  height: 90px;
  width: 50px;
  margin: 10px;
  background-color: aliceblue;
  border: 3px solid #144fc6;
  border-radius: 0 0 20px 20px;
  color: #144fc6;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.small-bottle.full {
  color: aliceblue;
  background-color: $fill-color;
}
