@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

// 浏览器记住input内容 填入时样式冲突
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
}

// 动画效果
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease;
}

.ant-notification-notice {
  background-color: #333; /* 你想要的背景色 */
  color: #fff; /* 文字颜色最好也配合改 */
}

* {
  font-family: "Muli", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4682b4;
}

.login-card {
  background-color: rgba(0, 0, 0, 0.4); /* 黑色 + 30% 不透明度 */
  height: 500px;
  width: 380px;
  border-radius: 5px;
  padding: 20px 40px;
  color: #fff;
}

.login-card h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-container {
  position: relative;
  margin: 20px 0 40px;
}

.input-container label {
  position: absolute;
  top: 15px;
  left: 0;
}

.input-container label span {
  // span本身是inline transform无法生效
  // 除动画外 width、height也无效， padding-top、margin-bottom也可能无效或是不稳定
  // 这里的主要目的是应用动画 利用span实现字符级差异控制
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

// 字符上浮
.input-container .hang ~ label span {
  transform: translateY(-30px);
  color: lightblue;
}

.input-container .hang.error {
  color: rgb(245, 37, 37);
  border-bottom-color: rgb(245, 37, 37);
}

// 密码提示默认()样式
.input-container .password-reminder {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: lightblue;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s, transform 0.5s;
}

// 密码提示出现样式
.input-container .password.hang ~ span {
  opacity: 1;
  transform: scale(1);
}

.eye-status {
  font-size: 18px;
  color: lightblue;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 20px;
  border: 0;
}

.input-container input {
  background: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 12px 0;
  color: #fff;
}

input:focus {
  outline: none;
  border-bottom-color: lightblue;
}

.btn {
  cursor: pointer;
  display: block;
  width: 80%;
  padding: 15px;
  margin: 0 10%;
  border: 0;
  border-radius: 5px;
  background-color: lightblue;
  // family 不继承吗？默认
  font-family: inherit;
  font-size: 16px;
  color: #2a4e6c;
}

// 默认的disable被btn覆盖了，因此需要手动指定样式
.btn:disabled {
  cursor: not-allowed; /* 鼠标变成禁止样式 */
  background-color: #cccccc; /* 背景变灰 */
  color: #666666; /* 字体颜色变淡 */
  opacity: 0.7; /* 略微透明，显示禁用感 */
}

.btn:active {
  transform: scale(0.97);
}

.btn:disabled:active {
  transform: none;
}

.to-register span {
  display: block;
  margin-top: 26px;
}

a {
  color: #add8e6;
}

a:focus {
  transform: scale(1.2);
}

.a-pop {
  display: block;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 10px;
}
