$primary-color: #22254b;
$second-color: #373b69;
$second-color-light: #777ecc;

.container {
  flex: 1;
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $second-color;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

input:focus {
  outline: none; /* 去掉默认 outline */
  box-shadow: none; /* 去掉默认的阴影 */
}

.searcher {
  font-size: 1rem;
  color: $second-color-light;
  background: transparent;
  border: 2px solid $primary-color;
  border-radius: 50px;
  padding: 0.6rem 1rem;
}

.searcher:focus {
  background: $primary-color;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
