.page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
  box-sizing: border-box;
}

.container {
  width: 86vw;
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 78vh;
    border-radius: 10px;
    cursor: pointer;
    margin: 6px;
    position: relative;
    transition: all 700ms ease-in;
    flex: 0.5;
  }

  .panel h4 {
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(205, 205, 205);
    opacity: 0;
  }

  .panel.active {
    flex: 5;
    transform: scale(0.98);
  }

  .panel.active h4 {
    opacity: 0.8;
    transition: opacity 0.3s ease-in 0.4s;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
